@using GameOnline.Core.ExtenstionMethods
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model GameOnline.Core.ViewModels.BrandViewModels.EditBrandsViewModel
@{
    ViewData["title"] = "حذف برند";
    ViewData["selected"] = "brands";
}
<div class="content-wrapper" style="min-height: 797px;">
    <section class="content-header">
        <div class="container-fluid">
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">حذف برند</h3>
                        </div>
                        <form asp-controller="Brand" asp-action="Remove" method="post">
                            <input type="hidden" asp-for="BrandId" />
                            <div class="card-body">
                                <div class="form-group">
                                    <label asp-for="FaTitle">نام فارسی برند</label>
                                    <input readonly asp-for="FaTitle" class="form-control" placeholder="نام فارسی برند را وارد کنید">
                                    <span asp-validation-for="FaTitle"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="EnTitle">نام انگلیسی برند</label>
                                    <input readonly asp-for="EnTitle" class="form-control" placeholder="نام انگلیسی  برند را وارد کنید">
                                    <span asp-validation-for="EnTitle"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Description">توضیحات</label>
                                    <input readonly asp-for="Description" class="form-control" placeholder="توضیحات را وارد کنید">
                                    <span asp-validation-for="Description"></span>
                                </div>

                                <div class="form-group">
                                    <label class="d-block mb-2 font-weight-bold">تصویر</label>
                                    <img src="@($"{PathTools.PathBrandImageClient}/{Model.OldImgName}")"
                                         alt="@Model.FaTitle"
                                         class="img-thumbnail shadow-sm"
                                         style="max-height: 150px;" />
                                </div>

                                <div class="alert alert-danger mt-4" role="alert">
                                    <strong>توجه!</strong> با حذف این برند، محصولات مربوط به آن نیز حذف می‌شوند. آیا مطمئن هستید؟
                                </div>

                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-danger">حذف</button>
                                <a class="btn btn-primary" href="/Admin/Brand">بازگشت</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section Scripts {
    <script>
        $('.custom-file-input').on('change', function () {
            var fileName = $(this).val().split('\\').pop();
            $(this).next('.custom-file-label').html(fileName);
        });
    </script>
}