@model IEnumerable<GameOnline.Core.ViewModels.PropertyViewmodel.PropertyValueViewmodel.GetPropertyValuesViewmodel>

@{
    ViewData["title"] = "مدیریت مقدار ویژگی ها";
    ViewData["selected"] = "propertyvalue";
}

<div class="content-wrapper" style="min-height: 617.6px;">
    <section class="content-header">
        <div class="container-fluid">
            <a href="/Admin/PropertyValue/Create" class="btn btn-success">ایجاد مقدار ویژگی</a>
        </div>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-12">
                @await Component.InvokeAsync("ResultComponents")

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">لیست مقدار ویژگی‌ها</h3>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example1" class="table table-bordered table-striped dataTable">
                                <thead>
                                    <tr>
                                        <th>شناسه</th>
                                        <th>مقدار ویژگی</th>
                                        <th>عنوان ویژگی</th>
                                        <th>عملیات</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.PropertyValueId</td>
                                            <td>@item.Value</td>
                                            <td>@item.PropertyNameTitle</td>
                                            <td>
                                                <a href="/Admin/PropertyValue/Edit/@item.PropertyValueId" class="btn btn-warning btn-sm">ویرایش</a>

                                                @* <form asp-controller="PropertyValue" asp-action="Remove" method="post" style="display:inline;" onsubmit="return confirm('آیا مطمئنید حذف شود؟');">
                                                    <input type="hidden" name="PropertyValueId" value="@item.PropertyValueId" />
                                                    <button type="submit" class="btn btn-danger btn-sm">
                                                        <i class="fa fa-trash"></i> حذف
                                                    </button>
                                                </form> *@
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
