@using GameOnline.Core.ViewModels.RoleViewmodel.Admin
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model GameOnline.Core.ViewModels.RoleViewmodel.Admin.AddRoleForUserViewmodel
@{
    var role = ViewBag.ListRole as List<GetRolesViewmodel>;
}
<div class="content-wrapper" style="min-height: 617.6px;">
    <section class="content-header">
        <div class="container-fluid">
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">افزودن نقش برای کاربر</h3>
                        </div>

                        <form asp-controller="Role" asp-action="AddOrUpdateUserRole" method="post">
                            <input type="hidden" asp-for="UserId" class="form-control">
                            <div class="card-body">

                                <div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <button type="button" class="btn btn-success col-lg-6 add-parent" data-name="RoleId">
                                                انتخاب نقش
                                            </button>
                                        </div>
                                        <select class="form-control col-lg-8" id="ParentList">
                                            @foreach (var item in role)
                                            {
                                                <option value="@item.RoleId">@item.RoleTitle</option>
                                            }
                                        </select>
                                    </div>

                                    <div class="ParentListSelected">
                                    </div>
                                </div>

                            </div>

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">ثبت نقش</button>
                                <a class="btn btn-warning" href="/Admin/Role">بازگشت</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    <partial name="_MultiSelectJsPartial" />
}
