<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png"
        href="#">
    <link rel="apple-touch-icon" sizes="144x144"
        href="#">
    <title>فروشگاه اینترنتی دیجی استور</title>
    <partial name="_CssPartial" />
</head>

<body>


<partial name="_HeaderPartial"/>
    <div class="nav-categories-overlay"></div>
    <div class="overlay-search-box"></div>

   @RenderBody()

    <partial name="_FooterPartial" />
    <partial name="_JsPartial" />
    @await RenderSectionAsync("Scripts", required: false)
    </body>

</html>