@using Microsoft.AspNetCore.Mvc.TagHelpers
@model GameOnline.Core.ViewModels.UserViewmodel.Server.Account.ForgotPasswordViewmodel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png"
          href="#">
    <link rel="apple-touch-icon" sizes="144x144"
          href="#">
    <title>تغییر رمز</title>
    <partial name="_cssPartial" />
</head>

<body>
<div id="main">
    <div class="col-lg-4 col-md-6 col-xs-12 mx-auto">
        <div class="account-box">
            <a href="index.html" class="logo-account"><img src="/assets/images/logo-login.png" alt="logo"></a>
            <span class="account-head-line">تغییر رمز عبور</span>
            <div class="content-account">
                <form asp-controller="Account" asp-action="ForgotPassword" method="post">
                    <input type="hidden" asp-for="UserId" />
                    <input type="hidden" asp-for="ActiveCode" />
                    <label for="password-new">رمز عبور جدید</label>
                    <input asp-for="Password" class="input-password" placeholder="">
                    <label for="password-new-again">تکرار رمز عبور جدید</label>
                    <input asp-for="ConfirmPassword" class="input-password" placeholder="">
                    <div class="parent-btn">
                        <button type="submit" class="dk-btn dk-btn-info">
                            تغییر رمز عبور
                            <i class="fa fa-refresh sign-in"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<partial name="_jsPartial" />
</body>

</html>
@if (TempData["SwalType"] != null)
{
    <script>
        Swal.fire({
            icon: '@TempData["SwalType"]',
            title: @Html.Raw(Json.Serialize(TempData["SwalTitle"])),
            text: @Html.Raw(Json.Serialize(TempData["SwalMessage"])),
            confirmButtonText: 'باشه'
        });
    </script>
}