@using Microsoft.AspNetCore.Mvc.TagHelpers
@model GameOnline.Core.ViewModels.UserViewmodel.Server.Account.RegisterViewmodel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png"
          href="https://www.digikala.com/mag/wp-content/themes/digikalamag/assets/common/img/ms-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="144x144"
          href="https://www.digikala.com/mag/wp-content/themes/digikalamag/assets/common/img/ms-icon-144x144.png">
    <title>ثبت نام در دیجی استور</title>
    <partial name="_CssPartial" />
</head>

<body>
    <div id="main">
        <div class="col-lg-4 col-md-6 col-xs-12 mx-auto">
            <div class="account-box">
                <a href="index.html" class="logo-account"><img src="/assets/images/logo-login.png" alt="logo"></a>
                <span class="account-head-line">ثبت نام در دیجی‌استور</span>
                <div class="content-account">
                    <div class="massege-light">ثبت نام تنها با پست الکترونیک امکان پذیر است.</div>
                    <form asp-action="Register" asp-controller="Account" method="post" id="register">
                        <label for="email-phone">پست الکترونیک خود را وارد کنید</label>
                        <input asp-for="Email" type="text" id="email-phone" class="input-email-account" placeholder="">
                        <label for="password">رمز عبور</label>
                        <input asp-for="Password" id="password" class="input-password" placeholder="">

                        <label for="password">تکرار رمز عبور</label>
                        <input asp-for="ConfirmPassword" id="password" class="input-password" placeholder="">

                        <div class="parent-btn">
                            <button type="submit" class="dk-btn dk-btn-info">
                                ثبت نام به دیجی استور
                                <i class="mdi mdi-account-plus-outline sign-in"></i>
                            </button>
                        </div>
                        <div class="form-auth-row">
                            <label for="remember" class="ui-checkbox">
                                <input type="checkbox" value="1" name="login" checked="" id="remember">
                                <span class="ui-checkbox-check"></span>
                            </label>
                            <label for="remember" class="remember-me">
                                <a href="#">حریم خصوصی</a> و <a href="#">
                                    شرایط
                                    قوانین
                                </a>استفاده از سرویس های سایت دیجی‌استور را مطالعه نموده و با کلیه موارد آن
                                موافقم.
                            </label>
                        </div>
                    </form>
                </div>

                <div class="account-footer">
                    <span>قبلا در دیجی‌استور ثبت‌نام کرده‌اید؟</span>
                    <a href="/Login" class="btn-link-register">وارد شویــد</a>
                </div>
            </div>
        </div>
    </div>
    <partial name="_JsPartial" />
</body>

</html>